<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <link rel="icon" href="icon.png" type="image/x-icon"/>
  <title>Polishändelser</title>
</head>
<header class="App-header">

</header>
<body>
  <div class="topp">
  <p id="head-p">Polishändelser</p>
  <p id="under-p">Håll dig uppdaterad om händelser kring dig!</p>
</div>
  <div id="event_container">
    <p id="titel-event">Sortera händelser</p>
    <select id="municipality-select">
      <option value="">Alla kommuner</option>
      <% municipalities.forEach(municipality => { %>
        <option value="<%= municipality %>"><%= municipality %></option>
      <% }); %>
    </select>    
    <button id="button-events" type="submit" form="show-events-form">
      <span>Visa</span>
    </button>
  </div>
  <div id="events">
    <% if (events) { %>
      <% events.forEach(event => { %>
        <div class="event">
          <span id="title-event"><%= event.emoji %><%= event.name %></span>
          <p id="list-event"><%= event.summary %></p>
          <p id="list-event"><%= event.datetime %></p>
          <p id="list-event"><%= event.location.name %><a id="karta" href="#" onclick="oppnaGoogleMaps('<%=event.location.gps%>')">Se på kartan</a></p>
          <a id="karta" href="https://polisen.se/<%= event.url %>">Läs mer</a>
        </div>
      <% }); %>
    <% } else { %>
      <p>Hämtar händelser...</p>
    <% } %>
  </div>
  <form action="/upload-municipalities" method="post">
    <label for="municipalities">Kommuner (lista separerade med komma):</label>
    <textarea id="municipalities" name="municipalities" rows="5"></textarea>
    <button type="submit">Ladda upp</button>
  </form>
  <div class="footer">
    <p id="title-p">Love Ekelöw</p>
    <p>All rights reserved</p>
    <p>Ha en trevlig <script>document.write(new Date().toLocaleDateString('sv-SE', { weekday: 'long' }))</script>!</p>
  </div>
  <script>
    const hideButton = document.getElementById("button-events");
    const myDiv = document.getElementById("event_container");
    const myDiv2 = document.getElementById("events");
    
    hideButton.addEventListener("click", function() {
      myDiv.style.display = "none";
      myDiv2.style.display = "block";
    });

    window.addEventListener('load', function() {
    setTimeout(function() {
      document.getElementById('head-p').style.backgroundPosition = '0 0';
      document.getElementById('under-p').style.backgroundPosition = '100% 0';
    }, 10);
  });
  function oppnaGoogleMaps(gpsCoordinates) {
    const googleMapsUrl = `https://www.google.com/maps/@${gpsCoordinates},14z?entry=ttu`;
    window.location.href = googleMapsUrl;
  }
  </script>
</body>
</html>