<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <title>Polishändelser</title>
</head>
<header class="App-header">

</header>
<body>
  <p id="head-p">Polishändelser</p>
  <div id="event_container">
    <p id="titel-event">Sortera händelser</p>
    <button id="button-events" type="submit" form="show-events-form">
      <span>Visa</span>
    </button>
  </div>
  <div id="events">
    <% if (events) { %>
      <% events.forEach(event => { %>
        <div class="event">
          <span id="title-event"><%= event.emoji %><%= event.name %></span>
          <p id="summary-event"><%= event.summary %></p>
          <p id="datetime-event"><%= event.datetime %></p>
          <p id="location-event"><%= event.location.name %></p>
          <a href="https://polisen.se/<%= event.url %>">Läs mer</a>
        </div>
      <% }); %>
    <% } else { %>
      <p>Hämtar händelser...</p>
    <% } %>
  </div>


  <div class="footer">
    <p id="title-p">Love Ekelöw</p>
    <p>All rights reserved</p>
    <p>Ha en trevlig <script>document.write(new Date().toLocaleDateString('sv-SE', { weekday: 'long' }))</script>!</p>
  </div>
  <script>
    const hideButton = document.getElementById("button-events");
    const myDiv = document.getElementById("event_container");
    const myDiv2 = document.getElementById("events");

    hideButton.addEventListener("click", function() {
      myDiv.style.display = "none";
      myDiv2.style.display = "block";
    });
  </script>
</body>
</html>
