<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
  
  <ul>
    <a href="/upload">
      <button href="/upload" id="ladda">Ladda upp</button>
    </a>
    <% posts.forEach(post => { %>
    <div class="posts-container">
      <div class="post">
        <h2><%= post.title %></h2>
        <p><%= post.content %></p>
        <% if (post.image && post.image.data) { %>
          <img id="post-bild" src="data:<%= post.image.contentType %>;base64,<%= post.image.data.toString('base64') %>" alt="Bild">
        <% } %>
      </div>
    </div>
    <% }) %>
    
    
  </ul>
</body>
</html>
